.ArticleDisplayer{
   display: flex;
   flex-direction: column;   
   align-items: center;   
   width: 55vw;
   height: 163vh;
   margin-left: 10vw;
   margin-top: 5vh;
   
}
/* flex-direction column: stack children vertically */
.articleTop{
   display: flex; 
   gap: 70%;
   align-items: center;
   width: 100%;           
   height: 2.25vh;          
             
}
/* Make it same line */
/* space between */
/* align items vertically? */
/* height specified, not parents */
/* width specified, of parents (gives proper spacing then)*/

 
#articleTitle{
    font-weight: bold;
    font-size: 23px;
}

#articleView{
    font-size: 15px;
    text-decoration: none;
    color: black;
}

#articleView:hover{
    text-decoration: underline;
}

.articlesShowcase{
   margin-top: 2rem;         
   width: 100%;             
}





.placcard{   
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 1.5rem;               
}

.articleCard { 
    border: 1px solid rgb(224, 224, 224); 
    width: 25vw; 
    height: 47.5vh;
    border-radius: 10px; 
    overflow: hidden; /* keeps img inside rounded corners */
}

.articleCard:hover{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
            0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.articleCard img {
    width: 100%;
    height: 23vh;
    display: block;
}
/* image fills the top of the card */
#showcaseTag{
    border: 1px solid rgb(216, 215, 215);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 7px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.articleCard .content {
    padding: 10.5px;
}
/* wraps text content in a div for padding */


#showcaseTitle{
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}


#showcaseDesc{
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 16px;
}

.showAuthor {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.showAuthorRight {
  display: flex;
  gap: 10px;
}
