.ArticleDisplayer{
   display: flex;
    justify-content: center;
    width: 55vw;
    height: 100vh;
    margin-left: 10vw;
    margin-top: 5vh;
    border: 1px solid pink;
}

.articleTop{
    display: flex; 
    justify-content: space-between;
    height: 2.25vh; 
    width: 100%;
}
/* Make it same line */
/* height specified, not parents */
/* width specified, of parents (gives proper spacing then)*/
/* space between */
 

#articleTitle{
    font-weight: bold;
    font-size: 23px;
}

#articleView{
    font-size: 15px;
    text-decoration: none;
    color: black;
}

#articleView:hover{
    text-decoration:underline;
}