.PopArt{
    border: 1px solid rgb(193, 193, 193);
    margin-top: 2%;
    margin-left: 66%;
    width: 22.5vw ;
    padding-left: 10px;
    border-radius: 10px;
    padding: 20px; 
}

.PopArtTitle{
    padding-top: 10px;
    padding-bottom: 5px;
}

#PopArtTitle{
    padding-top: 10px;
    font-size: 14px;
}

#PopArtDur{
    padding-top: 15px;
}

#PopArtPost{
    padding-top: 15px;
}

.PopInfo{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.PopInfo p{
    font-size: 13px;
}

.PopArt a{
    text-decoration: none;
    color: black;
}